* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

header {
  padding-top: 10px;
}

header .menu {
  height: 100px;
  display: flex;
  align-items: center;
}

header .menu .logo {
  height: 100%;
  display: flex;
  align-items: center;
}

header .menu .logo h2 {
  margin: 0;
}

header .menu .my-nav {
  display: flex;
  justify-content: flex-end;
}

header .menu .my-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

header .menu .my-nav ul li a {
  color: #000;
}

.card-photo {
  float: left;
  align-items: center;
  padding: 80px;
}

